
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Dark theme colors */
  --dark-bg: #22282e;
  --dark-card-bg: #282f36;
  --dark-text: #ccd1d6;
  --dark-text-secondary: #dadee2;
  --dark-border: rgba(255, 255, 255, 0.1);
  --accent-color: #6A9C89;
  --accent-hover-color: #638679;
  

  /* Light theme colors */
  --light-bg: #f3f3f3;
  --light-card-bg: #fbf7f7;
  --light-text: #282f36;
  --light-text-secondary: #282f36;
  --light-border: rgba(12, 12, 12, 0.034);
}
body {
  font-family: "Exo 2", sans-serif !important;
}

input:focus-visible,.nav-item:focus-visible{
  outline: none !important;
}

.form-control:focus,.form-select:focus {
    background-color: var(--bs-body-bg);
    border-color: #8794a7 !important; 
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0) !important;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
  color: inherit !important;
  background-color: inherit !important; 
  border-color: inherit !important;

}
.btn:focus-visible {
    color: inherit !important;
    background-color: inherit !important;
    border-color: inherit !important;
    outline: 0;
    box-shadow: inherit !important;
}
.btn:hover{
  border: none !important;
}